@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,700;1,300;1,700&display=swap");
/* @import url('fonts/OpenSans-BoldItalic.ttf');
    @import url('fonts/OpenSans-Light.ttf');
    @import url('fonts/OpenSans-LightItalic.ttf');  */
/* ***********************************************BODY***********************************************  */

body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 300;
  color: #fff;
  scroll-behavior: smooth;
  overflow: hidden;
  box-sizing: border-box;
}

/* ***********************************************TEXT***********************************************  */

h3 {
  margin: 1vh 0 0 0;
  font-size: 5vh;
  font-weight: 700;
     text-align: center;
}

p {
  margin: 1vh 0 0 0;
  font-size: 4vh;
  font-weight: 500;
  text-align: justify;
}
a {
  color: #ffffff;
}
a:visited {
  color: #ffffff;
}

/* ***********************************************article***********************************************  */
.arow{
  position: absolute;
  top: 17vh;
  left: 3vw;
  width: 6vw;
  
}
@keyframes arow-animate {
  0% {
    transform: translateX(2vh);
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}
.arow:hover{
animation: arow-animate 0.4s ease-in;
}
main{
  margin: 5vw;
  padding: 0;
}
.about-me{
  display: flex;
}
.sect1, .sect2{
  flex: 1 1;
  justify-content: center;
  align-items: center;
}
.sect1{
    display: flex;
    flex-direction: column;
  margin: 0 auto;
  }
/* ***********************************************about-me***********************************************  */
img.logo{
  position: fixed;
  top: 0;
  left: 0;
  margin: 20px;
   width: 5vw;
}
img.my-pic{
  width: 350px;
}
.my-pic-container{
  position: relative;
  display: inline-block;
  cursor: pointer;
}
.my-pic-container:hover .my-pic-cover{
  transform: scale(0);
  transition:all 1s;
}
.my-pic-cover{
  position: absolute;
  top: 0;
  left: 0;
  width: 350px;
  transform-origin: left right;
  transform: scale(1.0);
  transition:all 1s;
}
.container{
   position: relative;
   margin: 120px 180px;
}
.skills{
   width: 260px;
}
.cube{   
   position: relative;
   transform-origin: 130px 130px;
   transform-style: preserve-3d;
   animation: cube-animation 8s ease-in-out;
   animation-iteration-count: infinite;
}
 .cube img{
   position: absolute;
   top: 0;
   left: 0;
 }
  #f{transform: rotateY(0deg)translateZ(130px);}
  #ba{transform: rotateY(180deg)rotateZ(90deg)translateZ(130px);}
  #bo{transform: rotateX(-90deg) translateZ(130px);}
  #l{transform: rotateY(-90deg)rotateZ(90deg)translateZ(130px);}
  #r{transform: rotateY(90deg)translateZ(130px);}
  #t{transform: rotateX(90deg)rotateZ(-90deg)translateZ(130px);}
@keyframes cube-animation {
  from, to {
    transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  }
  16% {
    transform:rotateY(-90deg);
  }
  33% {
    transform:rotateY(-90deg) rotateZ(90deg);
  }
  50% {
    transform:rotateY(-180deg) rotateZ(90deg);
  }
  66% {
    transform:rotateY(-270deg) rotateX(90deg);
  }
  83% {
    transform: rotateX(90deg);
  }
}
/* ***********************************************media screen***********************************************  */
@media screen and (max-width: 700px) {

  #f{transform: rotateY(0deg)translateZ(70px);}
  #ba{transform: rotateY(180deg)rotateZ(90deg)translateZ(70px);}
  #bo{transform: rotateX(-90deg) translateZ(70px);}
  #l{transform: rotateY(-90deg)rotateZ(90deg)translateZ(70px);}
  #r{transform: rotateY(90deg)translateZ(70px);}
  #t{transform: rotateX(90deg)rotateZ(-90deg)translateZ(70px);}

  .skills{
    width: 140px;
  }
  .cube{
    transform-origin: 70px 70px;
  }
  .container{
   position: relative;
   margin: 50px 60px;
}
main{
  margin:20vw 10vw 5vw;
  padding: 0;
}
.about-me{
  flex-direction: column;
}
h3 {
  margin: 1vh 0 0 0;
  font-size: 5vw;
  font-weight: 700;
}

p {
  margin: 1vh 0 0 0;
  font-size: 4vw;
  font-weight: 500;
}
img.logo{
  margin: 15px;
   width: 10vw;
}
img.my-pic{
  width: 200px;
}
.my-pic-cover{
  width: 200px;
}
.arow{
  position: absolute;
  top: 10vh;
  left: 4vw;
  width: 13vw;
}
}